h2 {
    color: blue;
    font-weight: bold;
}

body{
    background-color: rgba(76, 175, 179, 0.623);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#Título-Principal {
    color: tomato;
    font-weight: bolder;   
}

#Messi1 {
    size: 200px;
    width: 300px;
    border: 15px solid green; /* Una propiedad puede recibir varios valores */
    
}



