#DistincionesIndividuales {
    color: blue;
    font-weight: bold;
}

body{
    background-color: rgba(76, 175, 179, 0.623);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    position: sticky;
    top: 0px;
    list-style-type: none;
    display: inline;
}

#LionelMessi {
    display: inline;
    color: tomato;
    font-weight: bolder; 
    border-bottom: 5px dotted black;
    margin-bottom: 25px;      
}

#Messi1 {
    size: 200px;
    width: 300px;
    border: 15px solid green; /* Una propiedad puede recibir varios valores */
    
}

#BalonDeOro {
    size: 200px;
    width: 300px;
}

#LogoInstagram {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 35px;

}



